@font-face {
    font-family: Imported;
    src: url(./Cabin.ttf);
}

* {
    font-family: Imported,
        'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    ;

    box-sizing: border-box;
}

body {
    background-color: #c83f32;
    text-align: center;
    margin: 0;
}

main {
    position: relative;
    background-color: white;
    width: 700px;
    height: 500px;
    padding: 25px;
    border-radius: 25px;
    margin: 0 auto;
    transform: translate(0, 50%);
}

h1 {
    color: #c83f32;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.fixed-logo {
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}