@font-face {
    font-family: Imported;
    src: url(./Cabin.ttf);
}

* {
    font-family: Imported,
        'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    ;
}